:root {
  --bottle: #004643;
  --sage: #ccdad9;
  --salmon: #fb6d69;
  --gum: #fd9996;
  --truewhite: #ffffff;
  --textblack: #101010;
}

html {
  overflow-y: hidden;
}

/*Typography*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

/*Cat*/
#grumpy {
  position: absolute;
  left: -25px;
  bottom: -500px; /* Move the image off-screen */
  animation: moveUp 1s forwards 1s; /* Start animation after 1s delay */
}

@keyframes moveUp {
  to {
    bottom: -30px; /* Move the image up to its original position */
  }
}

/*#grumpy {
  position: absolute;
  left: -25px;
  bottom: -30px;
}

#container {
  width: 40vw;
  height: 50vh;
  position: relative;
  background: yellow;
  bottom: 0;
  left: 0;
}*/

/*Button*/
button {
  /*every*/
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-top: 40px;
  /*default*/
  border: 1px solid var(--textblack);
  background: var(--truewhite);
  box-shadow: 5px 5px 0px 0px var(--textblack);
  color: var(--textblack);
}

button:active {
  box-shadow: 0 0px #666;
  transform: translate(5px, 5px);
}

button:hover {
  background-color: var(--salmon);
  cursor: pointer;
}

/*Text*/
#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}
