:root {
  --bottle: #004643;
  --sage: #ccdad9;
  --salmon: #fb6d69;
  --gum: #fd9996;
  --truewhite: #ffffff;
  --textblack: #101010;
}

/*SECTIONS*/
/*Hero section*/
#hero {
  background-color: var(--bottle);
  padding-bottom: 50px;
}

#heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 50px;
}

#banner {
  display: flex;
  width: 1160px;
  align-items: flex-start;
  gap: 80px;
}

#whiteWave {
  background-color: var(--bottle);
}

#hero p,
#hero h3 {
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: var(--truewhite);
  margin: 0;
}

#hero a {
  text-decoration: none;
}

/*Skills*/
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 70px;*/
}

#rowBoxes {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 25px;
}

.skillBox {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--bottle);
}

.skillBox p,
.skillBox h4 {
  color: var(--truewhite);
  margin: 0;
}

/*width of the text and boxes*/
.skillBox p {
  width: 280px;
}

#skills #tools {
  color: var(--salmon);
  text-transform: uppercase;
  margin: 0;
  margin-top: 70px;
}

#skills .material-symbols-outlined {
  color: var(--truewhite);
  background-color: var(--salmon);
  padding: 15px;
  border-radius: 100px;
  font-size: 30px;
}

/*Get to know me*/
#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/cats1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Personal projects*/
#personal {
  background-color: var(--bottle);
}

#personal p,
#personal h2,
#personal h3,
#personal .material-symbols-outlined {
  color: var(--truewhite);
}

/*Last cta*/
#lastcta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#lastcta p,
#lastcta h3 {
  color: var(--salmon);
  margin-top: 0;
}

/*ELEMENTS*/

/*Project show case*/
.soon {
  filter: grayscale(100%);
}

.project {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: stretch;
}

.project a,
#me a {
  text-decoration: none;
}

.cases {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.description {
  display: flex;
  width: 550px;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.mock-up {
  filter: drop-shadow(-15px 20px 0px var(--salmon));
  width: 415px;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.info p {
  font-size: 20px;
}
