:root {
  --bottle: #004643;
  --sage: #ccdad9;
  --salmon: #fb6d69;
  --gum: #fd9996;
  --truewhite: #ffffff;
  --textblack: #101010;
}

/*SECTIONS*/

/*Overview*/
#overview h4 {
  color: var(--salmon);
}

.infoPoints {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoPoints h5,
.infoPoints p {
  margin: 0;
  max-width: 400px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/**/
#discover,
#develop {
  background-color: var(--sage);
}
